<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('partials/navbar') %>
    <title>Booking</title>
  </head>
  <body>
    <div class="container">

      <h1 class="mb-4">Welcome To The Booking Page</h1>
      <div>
        <a
          href="bookings/createBooking"
          type="button"
          class="btn btn-outline-success me-2"
          >Create Booking</a
        >
      </div>

      <h2 class="mb-2">Here are your current bookings:</h2>
      <% Array.from(booking).forEach(b => { %>
      <div class="card mt-2">
        <div class="card-body">
          <h4 class="card-title"><%= b.bookingDate.toDateString() %></h4>
          <div class="card-title">Allergy Information: <%= b.allergyDescription %></div>
          <div class="card-title"><%= b.bookingUserEmail %></div>
          <div class="card-title">Reference ID: <%= b.bookingID %></div>
          <a href="bookings/edit/<%= b.bookingID %>" class="btn btn-info"
            >Edit Booking</a
          >
          <form
            action="/bookings/<%= b.bookingID %>?_method=DELETE"
            method="POST"
            class="d-inline"
          >
            <button type="submit" class="btn btn-danger">Remove Booking</button>
          </form>
<<<<<<< HEAD
    </div>
=======

        </div>
      </div>
      <% }) %>
>>>>>>> 91a3e0ce4a4150ddc831fda11a0daafbfc60e7bb
    </div>
    <% })%>
  </body>
</html>
