<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('partials/navbar')%> <%- include('partials/style') %>
    <title>Booking</title>
  </head>
  <body style="background-color: rgba(253, 245, 235, 0.584);;">
    <h1 style="padding: 20px">Welcome To The Booking Page</h1>
    <div class="container" style="padding: 20px">
      <a
        href="bookings/createBooking"
        type="button"
        class="btn btn-outline-success me-2"
        >Create Booking</a
      >
    </div>

    <div class="container">
      <div class="row">
        <div class="col" style="padding: 20px">
          <h2>Current bookings:</h2>
          <span style="color: red"><%= failMessage %></span>
          <% Array.from(booking).forEach(b => { %> <% if(b.isActive == true) {%>
          <div class="card mt-2">
            <div class="card-body">
              <h4 class="card-title"><%= b.bookingDate.toDateString() %></h4>
              <p class="card-title text-muted">
                <%= b.bookingMealTime %> Reservation
              </p>
              <div class="card-title">Reference ID: <%= b.bookingID %></div>
              <div class="card-title"><%= b.bookingUserEmail %></div>
              <div class="card-title">
                Allergy Information: <%= b.allergyDescription %>
              </div>
              <a href="bookings/edit/<%= b.bookingID %>" class="btn btn-info"
                >Edit Booking</a
              >
              <form
                action="/bookings/<%= b.bookingID %>"
                method="POST"
                class="d-inline"
              >
                <button type="submit" class="btn btn-danger">
                  Remove Booking
                </button>
              </form>
            </div>
          </div>
          <% } %> <% }) %>
        </div>
        <div class="col" style="padding: 20px">
          <h2 class="mb-2">Previous bookings:</h2>
          <% Array.from(booking).forEach(b => { %> <% if(b.isActive == false)
          {%>
          <div class="card mt-2">
            <div class="card-body">
              <h4 class="card-title"><%= b.bookingDate.toDateString() %></h4>
              <div class="card-title">Reference ID: <%= b.bookingID %></div>
              <div class="card-title"><%= b.bookingUserEmail %></div>
              <div class="card-title">
                Allergy Information: <%= b.allergyDescription %>
              </div>
            </div>
          </div>
          <% } %> <% }) %>
        </div>
      </div>
    </div>
    <div class="footer">Le Bistrot D'Andre</div>
  </body>
</html>
