<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('partials/navbar') %>
    <title>Database</title>
  </head>
  <body>
    <h1 style="padding: 10px">Database accessed</h1>

    <div class="container">
      <div class="row">
        <h2 style="padding: 10px">Customers:</h2>
        <% Users.forEach(Users => { %>
        <div class="col-lg">
          <div style="float: left">
            <div style="padding: 10px">
              <div class="card" style="width: 18rem">
                <div class="card-body">
                  <h5 class="card-title"><%= Users.firstName %></h5>
                  <h6 class="card-subtitle mb-2 text-muted">
                    <%= Users.lastName %>
                  </h6>
                  <a href="#" class="card-link">Card link</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <%})%>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <h2 style="padding: 10px">Bookings:</h2>
        <% Bookings.forEach(Bookings => { %>
        <div class="col-lg">
          <div style="float: left">
            <div style="padding: 10px">
              <div class="card" style="width: 18rem">
                <div class="card-body">
                  <h5 class="card-title"><%= Bookings.bookingID %></h5>
                  <h6 class="card-subtitle mb-2 text-muted">
                    <%= Bookings.bookingUser %>
                  </h6>
                  <a href="#" class="card-link">Card link</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <%})%>
      </div>
    </div>
  </body>
</html>
