<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('partials/navbar') %> <%- include('partials/style') %>

    <title>Database</title>
  </head>
  <body style="background-color: rgba(255, 245, 235, 0.548);">
    <div style="height: 350px; color: #0c2a0a;">
      <h1 style="padding: 20px; text-align: center; padding-top: 120px; font-size: 70px;">Welcome To The Database</h1>
      <p style="text-align: center; margin-left: 80px; margin-right: 80px; font-size: 20px;"> View Bookings | Registered Users | Menu Items | Create Discount Codes</p>
    </div>

    <div class="container">
      <div class="row">
        <h2 style="padding: 10px">Registered Users:</h2>
        <% Users.forEach(Users => { %> <% if(!Users.isAdmin) { %>
        <div class="col-lg-4" style="float: left">
          <div style="padding: 10px">
            <div class="card" style="width: 18rem; background-color: #49814463;">
              <div class="card-body">
                <h5 class="card-title"><%= Users.firstName %></h5>
                <h6 class="card-subtitle mb-2"><%= Users.lastName %></h6>
                <h6
                  name="userFocus"
                  class="card-text text-muted"
                  style="font-size: 13px"
                >
                  <%= Users.userId %>
                </h6>
                <a
                  href="database/account/<%= Users.userId%>"
                  class="btn btn-light"
                  >View</a
                >
                <form
                  action="/database/<%= Users.userId %>?_method=DELETE"
                  method="POST"
                  class="d-inline"
                >
                  <button type="submit" class="btn btn-light">
                    Delete User
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
        <%}%> <%})%>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <h2 style="padding-top: 20px;">Bookings:</h2>
        <% Bookings.forEach(Bookings => { %>
        <div class="col-lg-4">
          <div style="float: left">
            <div style="padding: 10px">
              <div class="card" style="width: 18rem; background-color: #49814463;;">
                <div class="card-body">
                  <h5 class="card-title">
                    <%= Bookings.bookingDate.toLocaleDateString() %>
                  </h5>
                  <h6 class="card-subtitle mb-2">
                    <%= Bookings.bookingUserFirstName %> <%=
                    Bookings.bookingUserLastName %>
                  </h6>
                  <% if (Bookings.isActive == false) {%>
                  <h6 class="card-subtitle mb-2" style="color: red">
                    Not Active
                  </h6>
                  <% } else { %>
                  <h6 class="card-subtitle mb-2" style="color: green">
                    Active
                  </h6>
                  <% } %>
                  <h6 class="card-subtitle mb-2 text-muted">
                    <%= Bookings.bookingID %>
                  </h6>
                  <a
                    href="/database/booking/<%= Bookings.bookingID %>"
                    class="btn btn-light"
                    >View Booking</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
        <%})%>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <% if(!req.MenuItems) { %>
        <h2 style="padding: 10px">Menu Items:</h2>
        <% MenuItems.forEach(Item => { %>
        <div class="col-lg-4" style="float: left">
          <div style="padding: 10px">
            <div class="card" style="width: 18rem; background-color: #49814463;">
              <div class="card-body">
                <h5 class="card-title"><%= Item.itemName %></h5>
                <h6 class="card-subtitle mb-2 text-muted">
                  <%= Item.itemID %>
                </h6>
                <a
                  href="database/menu/<%= Item.itemID%>"
                  class="btn btn-light"
                  >View Menu Item</a
                >
              </div>
            </div>
          </div>
        </div>
        <%})%> <%}%>
      </div>
    </div>

    <div class="container" style="padding-bottom: 50px; width: 100%;">
      
      <!-- <div style="width: 50%; background-color: black; height: 150px;"><h2 style="padding-top: 30px;">Create a Discount Code:</h2> </div>
      <form action="/database/createDiscountCode" method="POST">
        
        <div style="float: left; width: 30%;">
          <input
            type="String"
            class="form-control"
            id="code"
            name="codeValue"
            placeholder="Enter new discount code"
          />
        </div>
      </form>       -->

      
      <div class="row" style="padding-top: 30px;">
        <h2 style="padding: 10px">Create a Discount Code:</h2>
        <form action="/database/createDiscountCode" method="POST">
          <div class="col-3">
            <input
              type="String"
              class="form-control"
              id="code"
              name="codeValue"
              placeholder="Enter new discount code"
            />
          </div>
          <div style="padding-top: 10px;">
            <button class="btn btn-success me-2" type="submit">
              Create code
            </button>
          </div>
        </form>
      </div>
    </div>

    <div class="footer">
      Le Bistrot D'Andre <br /><br /><span style="color: grey"
        >2021 SES 1A, Group 8</span
      >
    </div>
  </body>
</html>
