<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Profile</title>
    <%- include('partials/navbar') %> <%- include('partials/style')%>

    <!-- <style type="text/css">
    
    .row{
      padding: 5px;
      margin-top: 2px;
    }
    
    </style> -->


  </head>
  <body style="background-color: rgba(255, 245, 235, 0.548)">

    <div style="height: 350px; color: #0c2a0a;">
      <h1 style="margin: 20px; text-align: center; padding-top: 120px; font-size: 70px;">Edit Your Profile</h1>
      <p style="text-align: center; margin-left: 100px; margin-right: 100px; font-size: 18px;">Please adjust your profile to ensure that your details are accurate. While accounts can be modified, please note that the Email you have nominated to your account, as well as the User ID that was assigned to you upon registration, cannot be changed.</p>
    </div>


    <% if (adminEdit == false){%> 
      <form action="/profile/editProfile" method="POST" class="regform">
      <% } else if (adminEdit == true) { %>
      <form action="/database/account/<%= user.userId%>/editProfile" method="POST" class="regform">

    <% } %>
    
      <div class="container-sm" style="padding: 50px; width: 60%; background-color: #49814463; border-radius: 25px; padding-left: 20%;">
        <!-- <h2>Edit User Profile</h2> -->

        <% if (user.isAdmin == true){%>
        <label style="color: green; padding: 10px">Admin Account</label>
        <% } %>

        <!-- <h6 class="text-muted" style="padding: 10px">
          Email and User ID cannot be changed
        </h6> -->
        <div class="row" style="padding-top: 10px;">
          <div class="col-2" style="padding-top: 10px;">
            <div class="row" style="padding-bottom: 10px;">
              <label class="text-muted">Email</label>
            </div>
            <div class="row" style="padding-bottom: 13px;">
              <label class="text-muted">User ID</label>
            </div>
            <div class="row" style="padding-bottom: 1px;">
              <label class="text-muted">First Name</label>
            </div>
            <div class="row" style="padding-top: 17px">
              <label class="text-muted">Last Name</label>
            </div>
          </div>

          <div class="col-3" style="padding: 10px;">
            <div class="row g-3" style="padding-bottom: 10px;">
              <label><%= user.email%></label>
            </div>
            <div class="row g-3" style="padding-bottom: 10px;">
              <label><%= user.userId%></label>
            </div>
            <div class="row g-3" style="padding-bottom: 10px;">
              <input
                type="String"
                class="form-control"
                name="firstName"
                value="<%= user.firstName%>"
                required
              />
            </div>
            <div class="row g-3" style="padding-bottom: 10px;">
              <input
                type="String"
                class="form-control"
                name="lastName"
                value="<%= user.lastName%>"
                required
              />
            </div>
          </div>
        </div>
        <div style="padding-top: 10px; padding-bottom: 10px; padding-left: 15px;">
          <button class="btn btn-light me-2" type="submit" style=" margin-right: 5%">
            Save Changes
          </button>
          <a
          href="/profile"
          class="btn btn-secondary"
          >Cancel</a
        >
        </div>
      </div>
    </form>
    <div class="footer" style="position: absolute">
      Le Bistrot D'Andre <br /><br /><span style="color: grey"
        >2021 SES 1A, Group 8</span
      >
    </div>
  </body>
</html>
