<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('partials/navbar') %>
    <title>Edit Booking</title>
  </head>

  <body>
    <div class="container">
      <h1 class="mb-2">Edit Booking</h1>
      <% if(req.user){%>
      <div class="row">
        <div class="col">
          <div>
            <label
              for="bookingUser"
              name="bookingUser"
              value="<%- req.user.email%>"
            >
            </label>
          </div>
          <%} %>
          <div>
            <span style="color: green"><%= successMessage %></span>
            <span style="color: red"><%= failMessage %></span>
          </div>

          <form
            action="/bookings/<%= booking.bookingID %>?_method=PUT"
            method="POST"
            style="margin: 20px"
          >
            <%- include('partials/_booking_form_fields') %>
          </form>
        </div>
        <div class="col">
          <h2>Menu</h2>
        </div>
        <div class="col">
          <h2>Cart</h2>
        </div>
      </div>
    </div>
  </body>
</html>
