<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('partials/navbar') %>
    <title>Edit Booking</title>
  </head>

  <body>
    <div class="container">
      <div class="row">
        <div class="col-3">
          <h1 class="mb-2">Edit Booking</h1>
          <div>
            <span style="color: green"><%= successMessage %></span>
            <span style="color: red"><%= failMessage %></span>
          </div>

          <form
            action="/bookings/<%= booking.bookingID %>?_method=PUT"
            method="POST"
            style="margin: 20px"
          >
            <%- include('partials/_booking_form_fields') %>
          </form>
        </div>

        <div class="col-4">
          <h1>Menu</h1>
          <% Array.from(menu).forEach(item => {%>
          <div class="input-group mb-1">
            <input
              disabled="true "
              type="text"
              class="form-control"
              value="<%= item.itemName %>"
            />
            <form
              action="/bookings/edit/addItem/<%= booking.bookingID %>?_method=PUT"
              method="POST"
            >
              <input
                type="text"
                name="menuItemId"
                value="<%= item.itemID %>"
                hidden
              />
              <input
                type="text"
                name="menuItemName"
                value="<%= item.itemName %>"
                hidden
              />
              <input class="form-control" type="text" name="price" value="<%= item.itemPrice %>" hidden >
              <button class="btn btn-success" type="submit">Add</button>
            </form>
          </div>
          <% })%>
        </div>

        <div class="col-sm">
          <h1>Cart</h1>
          <% Array.from(booking.menuItems).forEach(item => { %> 
            <div class="input-group mb-1">
              <input
                disabled="true "
                type="text"
                class="form-control"
                value="<%=item.menuItemName %>"
              />
               
              <form
                action="/bookings/edit/removeItem/<%= booking.bookingID %>?_method=PUT"
                method="POST"
              >
                <input
                  type="text"
                  name="menuItemId"
                  value="<%= item.id %>"
                  hidden
                />
                <input class="form-control" type="text" name="price" value="<%= item.price %>" hidden>
                <button class="btn btn-danger" type="submit">Remove</button>
              </form>
            </div>
          <% }) %>
          <div>
          <% if(booking.totalPrice) {%>
            <br>  
            Your Total Price: $<%= booking.totalPrice.toFixed(2) %>
          <% } else { %>
          Your Total Price: $0
          <% } %>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
