<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('partials/navbar')%> <%- include('partials/style') %>
    <title style="color: rgb(255, 245, 235)">Menu</title>
  </head>
  <body
    style="
      background-color: rgba(255, 245, 235, 0.548);
      min-height: 100vh;
      margin: 0;
      padding: 0;
      flex-direction: column;
      display: flex;
    "
  >
    <h1 style="padding-top: 40px; text-align: left; padding-left: 12%">MENU</h1>
    <br />
    <div class="container">
      <div class="wrapper">
        <div
          class="container"
          style="
            float: left;
            width: 30%;
            background-color: rgba(128, 128, 128, 0.616);
            padding: 1%;
            align-content: center;
            border-radius: 25px;
          "
        >
          <form action="/menu/searchFilter" method="POST">
            <div style="padding: 5%; font-size: 30px">Search Filters</div>

            <div style="padding: 4%">
              <label
                for="customRange1"
                class="form-label"
                style="font-size: 20px"
                >Price</label
              >
              <input type="range" class="form-range" id="customRange1" />
            </div>

            <label
              for="customRange1"
              class="form-label"
              style="padding-top: 5%; padding-left: 5%; font-size: 20px"
              >Dietary Requirements</label
            >

            <div class="form-check" style="margin-left: 9%">
              <input
                class="form-check-input"
                type="checkbox"
                value="true"
                name="vegetarian"
                id="flexCheckDefault"
              />
              <label class="form-check-label" for="vegetarian">
                Vegetarian
              </label>
            </div>

            <div class="form-check" style="margin-left: 9%">
              <input
                class="form-check-input"
                type="checkbox"
                value="true"
                name="vegan"
                id="flexCheckDefault"
              />
              <label class="form-check-label" for="flexCheckDefault">
                Vegan
              </label>
            </div>

            <div class="form-check" style="margin-left: 9%">
              <input
                class="form-check-input"
                type="checkbox"
                value="true"
                name="glutenFree"
                id="flexCheckDefault"
              />
              <label class="form-check-label" for="flexCheckDefault">
                Gluten Free
              </label>
            </div>

            <div class="form-check" style="margin-left: 9%">
              <input
                class="form-check-input"
                type="checkbox"
                value="true"
                name="dairyFree"
                id="flexCheckDefault"
              />
              <label class="form-check-label" for="flexCheckDefault">
                Dairy Free
              </label>
            </div>

            <div class="form-check" style="margin-left: 9%">
              <input
                class="form-check-input"
                type="checkbox"
                value="true"
                name="nutFree"
                id="flexCheckDefault"
              />
              <label class="form-check-label" for="flexCheckDefault">
                Nut Free
              </label>
            </div>

            <div class="container" style="padding-top: 30px; width: 100%">
              <button type="submit" class="btn btn-success">Search</button>
              <button class="btn btn-outline-success me-2" type="reset">
                Clear All
              </button>
            </div>
          </form>
        </div>

        <div class="container" style="float: right; width: 70%">
          <div
            class="btn-group"
            role="group"
            aria-label="Basic outlined example"
            style="width: 100%; padding-top: 2%; padding-bottom: 2%"
          >
            <button type="button" class="btn btn-outline-secondary" id="all">
              All
            </button>
            <button type="button" class="btn btn-outline-secondary">
              Breakfast
            </button>
            <button type="button" class="btn btn-outline-secondary">
              Lunch & Dinner
            </button>
            <button type="button" class="btn btn-outline-secondary">
              Drinks
            </button>
          </div>

          <div class="row">
            <% if(menu_item) {%> <% Array.from(menu_item).forEach(m => { %>
            <div class="col-lg-4" style="float: left">
              <div class="card mt-2" style="margin-bottom: 10%">
                <div class="card-body">
                  <h4 class="card-title"><%= m.itemName %></h4>
                  <div class="card-title"><%= m.itemDescription %></div>
                  <a href="/menu/<%= m.itemID%>" class="btn btn-info"
                    >Read More</a
                  >
                </div>
              </div>
            </div>
            <% }) %> <% } %>
          </div>
        </div>
      </div>
    </div>

    <% if (req.user && req.user.isAdmin == true) { %>
    <div class="container" style="padding-top: 30px; width: 100%; float: left">
      <a href="menu/createMenuItem" class="btn btn-outline-success me-2"
        >Create new menu item</a
      >
    </div>
    <% } %>
    <div class="footer">
      Le Bistrot D'Andre <br /><br /><span style="color: grey"
        >2021 SES 1A, Group 8</span
      >
    </div>
  </body>
</html>
