<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Profile</title>
    <%- include('partials/navbar')%> <%- include('partials/style') %>
  </head>
  <body
    style="
      min-height: 100vh;
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      background-color: rgba(255, 245, 235, 0.548);
    "
  >
    <div style="height: 350px; color: #0c2a0a">
      <h1
        style="
          margin: 20px;
          text-align: center;
          padding-top: 120px;
          font-size: 70px;
        "
      >
        View Your Accounts
      </h1>
      <p
        style="
          text-align: center;
          margin-left: 80px;
          margin-right: 80px;
          font-size: 20px;
        "
      >
        View Account Details | Modify Account | Delete Account
      </p>
    </div>

    <div
      class="container"
      style="
        padding: 50px;
        background-color: #49814463;
        align-content: center;
        border-radius: 25px;
      "
    >
      <h2>User Profile</h2>
      <% if (user.isAdmin == true){%>
      <label style="color: green; padding: 10px">Admin Account</label>
      <% } %>
      <div class="row">
        <div class="col-2">
          <div class="row">
            <label class="text-muted">First Name</label>
          </div>
          <div class="row">
            <label class="text-muted">Last Name</label>
          </div>
          <div class="row">
            <label class="text-muted">Email</label>
          </div>
          <div class="row">
            <label class="text-muted">User ID</label>
          </div>
        </div>

        <div class="col-1">
          <div class="row g-3">
            <label><%= user.firstName%></label>
          </div>
          <div class="row g-3">
            <label><%= user.lastName%></label>
          </div>
          <div class="row g-3">
            <label><%= user.email%></label>
          </div>
          <div class="row g-3">
            <label><%= user.userId%></label>
          </div>
        </div>

        <div class="col"></div>
      </div>
      <div class="row" style="margin-top: 10px">
        <div class="col-lg-4">
          <% if (adminEdit == false){%>
          <a href="/profile/editProfile" class="btn btn-success"
            >Edit Account</a
          >
          <% } else if (adminEdit == true) { %>
          <a
            href="/database/account/<%= user.userId%>/editProfile"
            class="btn btn-primary"
            >Edit Account</a
          >
          <% } %>
          <button onclick="alertUser()" class="btn btn-danger btn">
            Delete Account
          </button>
          <a
            href="/profile/deleteProfile"
            class="btn btn-danger btn-sm"
            id="deleteUserBtn"
            style="display: none"
          >
            Delete Account
          </a>
        </div>
      </div>
    </div>
    <div class="footer" style="flex-grow: 1">
      Le Bistrot D'Andre <br /><br /><span style="color: grey"
        >2021 SES 1A, Group 8</span
      >
    </div>
  </body>
</html>

<script>
  function alertUser() {
    if (confirm('Deleting your account...')) {
      document.getElementById('deleteUserBtn').click();
    }
  }
</script>
