<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('partials/navbar') %>
    <title>Menu</title>
  </head>
  <body style="margin-bottom: 20px">
    <div class="container">
      <h1 style="padding: 20px"><%= menuItem.itemName%></h1>

      <% if(menuItem.itemImg) { %>
      <div class="container">
        <img src="/uploads/<%= menuItem.itemImg%>" width="80%" />
      </div>
      <% } %>

      <br />
      <h5 class="text-muted">Price: $<%= menuItem.itemPrice%></h5>

      <p class="text-muted"><%= menuItem.mealType%> menu item</p>
      <%- include('partials/menu_item_categories')%>
      <br />

      <p><%= menuItem.itemDescription%></p>
      <br />

      <h6>Ingredients:</h6>
      <p><%= menuItem.itemIngredients%></p>
      <br />
    </div>

    <% if (req.user && req.user.isAdmin == true) {%>
    <div class="container">
      <a
        href="/menu/editMenuItem/<%= menuItem.itemID%>"
        class="btn btn-primary btn-sm"
        >Edit Menu Item</a
      >
      <form
        action="/menu/<%= menuItem.itemID %>?_method=DELETE"
        method="POST"
        class="d-inline"
      >
        <button type="submit" class="btn btn-danger btn-sm">Delete Item</button>
      </form>
    </div>
    <% } %>
  </body>
</html>
